{% extends "bikes/base.html" %}
{% load static %}
{% block content %}
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>About Us</h1>
            <span>We have over many years of experience</span>
          </div>
        </div>
      </div>
    </div>

    <div class="more-info about-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <span>Bike On Rent</span>
                    <h2>Get to know about <em>our healthy idea </em></h2>
                    <p>Bike On Rent is currently available in the city of Ahmedabad, Mumbai & Udaipur. It is also available in select campuses such as IIT Bombay, IIM Ahmedabad, etc. Download our app to find out the hub nearest to you.
                    <br><br>So Say By To Pollution and start riding bike for be fit and healthy - SHAHIL JOSHI</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="{% static 'bikes/images/bike3.jpg'  %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}
