{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'bikes/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'bikes/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'bikes/css/fontawesome.css'%}">
    <link rel="stylesheet" href="{% static 'bikes/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'bikes/css/owl.css'%}">

    {% if title %}
        <title>Ride My Bike-{{ title }}</title>
    {% else %}
        <title>Ride My Bike </title>
    {% endif %}
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <div class="sub-header">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12">
            <ul class="left-info">
              <li><a href="#"><i class="fa fa-envelope"></i>contact@bikeonrent.com</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>123-456-7890</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="right-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand"  href="{% url 'home' %}">
{#              <i class="fa fa-bicycle" style=""></i>#}
              <h2>Bike On Rent<em></em></h2>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'home' %}">Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>

              {% if user.is_authenticated %}
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'stations' %}">Station</a>
                      </li>
                      <a class="nav-item nav-link" href="{% url 'profile' %}">Welcome {{ request.user.username }}</a>
{#                      <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>#}
                      <a class=" btn btn-primary"  type="button" href="{% url 'logout' %}">Logout</a>
              {% else %}
                      <a class=" btn btn-primary"  type="button" href="{% url 'login' %}" >Login</a>
                      <a class="btn btn-danger"  type="button" href="{% url 'register' %}">Register</a>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
          {% endfor %}
      {% endif %}
    </header>

    {% block content %}{% endblock %}

    <!-- Footer Starts Here -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4 footer-item">
            <h4>Bike On Rent</h4>
            <p>Ride My Bike ! Bike On rent Services. Start Your Safar By Taking Bike on Rent .</p>
            <ul class="social-icons">
              <li><a rel="nofollow" href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>

          <div class="col-md-4 footer-item">
            <h4>FAQ</h4>
{#            <ul class="menu-list">#}
{#              <li><a href={% url 'about' %}>About Us</a></li>#}
{#              <li><a href={% url 'faq' %}>FAQ</a></li>#}
{#            </ul>#}
            <iframe
                allow="microphone;"
                width="300"
                height="400"
                src="https://console.dialogflow.com/api-client/demo/embedded/79ccf931-25cb-4118-ba0c-f9272f7f7779">
            </iframe>
          </div>
          <div class="col-md-4 footer-item last-item">
            <h4>Contact Us</h4>
            <div class="contact-form">
              <form id="contact footer-contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="filled-button">Send Message</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>
                Copyright © 2021 SHAHIL JOSHI
                - Template by: <a href="">SHAHIL JOSHI</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
       <!-- Additional Scripts -->
    <script src="{% static 'bikes/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'bikes/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'bikes/js/custom.js'%}"></script>
    <script src="{% static 'bikes/js/owl.js'%}"></script>
    <script src="{% static 'bikes/js/slick.js'%}"></script>
    <script src="{% static 'bikes/js/accordions.js'%}"></script>

    <script language = "text/Javascript">
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>
    <script>
        var doc = new jsPDF('landscape', 'pt', 'a4');
        doc.setFont("arial", "bold");
        doc.setFontSize(15);
        var specialElementHandlers = {
            '#editor': function (element, renderer) {
                return true;
            }
        };
        $('#cmd').click(function () {
            doc.fromHTML($('#content').html(), 25, 25, {
                'width': 170,
                'height':170,
                'fontsize':10,
                'autoSize':10,
                'elementHandlers': specialElementHandlers
            });
            doc.save('bill.pdf');
        });
    </script>

  </body>
</html>