{% extends 'bikes/base.html' %}
{% load static %}
{% block content %}
  {% if request.user.is_authenticated %}
  <div class="row">
    <div class="text-center">
    {% if rentals %}
      <h1>Currently rented bikes:</h1>
      <p class="lead">Remember to return them!</p>
      <table class="table-responsive">
        <tr>
          <th>Bike number</th>
          <th>Start station</th>
          <th>Rental start</th>
          <th class="col-xs-1"></th>
        </tr>
        {% for rental in rentals %}
          <tr>
            <td>{{ rental.bike.id }}</td>
            <td>{{ rental.start_station.address }}</td>
            <td>{{ rental.start_date }}</td>
            <td class="col-xs-1">
              <form action="{% url 'bikes:stations' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name='rental_id' value="{{ rental.id }}"></input>
                <button class="btn btn-default" type="submit" name="bike_return">Return bike</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      {% if request.user.user.in_debt %}
        <h1>You are broke, you balance is {{request.user.user.balance}}.</h1>
        <p class="lead">Top-up account before rental.</p>
      {% else %}
        <h1>No bikes rented at the moment.</h1>
        <p class="lead">Go ahead and rent something!</p>
      {% endif %}
    {% endif %}
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Urban Bikes - bike rentals all over Wrocław</h1>
      <p class="lead"> User not logged in. </p>
    </div>
  </div>
  {% endif %}

{% endblock %}