{% extends "bikes/base.html" %}
{% load static %}
{% block content %}
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>FAQ</h1>
            <span>We Are Here To Help You</span>
          </div>
        </div>
      </div>
    </div>
<div class="testimonials">
<div class="container">
<iframe
    allow="microphone;"
    width="1100"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/79ccf931-25cb-4118-ba0c-f9272f7f7779">
</iframe>
</div>
</div>
{% endblock content %}
