{% extends "bikes/base.html" %}
{% block content %}

<center>
<h1 style="margin: 20% auto;color: #dddddd;" >Find Your Nearest Location Of Ride My Bike Points</h1>
    <!-- Example single danger button -->
<div class="btn-group">
  <button type="button" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Your Location
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div>
</center>
{% endblock %}