{% extends 'bikes/base.html' %}
{% load static %}
{% block content %}
    <!-- Banner Starts Here -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                  <h6>Bike On Rent</h6>
                  <h4>Ride Bike<br> On Rent</h4>
                  <p>Bike On Rent is currently available in the city of Ahmedabad, Mumbai & Udaipur. It is also available in select campuses such as IIT Bombay, IIM Ahmedabad, etc. Download our app to find out the hub nearest to you.</p>
                  <a href="{% url 'stations' %}" class="filled-button">Rent</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">
                  <h6>Bike On Rent</h6>
                  <h4>Ride Bike<br> On Rent</h4>
                  <p>Bike On Rent is currently available in the city of Ahmedabad, Mumbai & Udaipur. It is also available in select campuses such as IIT Bombay, IIM Ahmedabad, etc. Download our app to find out the hub nearest to you.</p>
                  <a href="{% url 'stations' %}" class="filled-button">Rent</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">
                  <h6>Bike On Rent</h6>
                  <h4>Ride Bike<br> On Rent</h4>
                  <p>Bike On Rent is currently available in the city of Ahmedabad, Mumbai & Udaipur. It is also available in select campuses such as IIT Bombay, IIM Ahmedabad, etc. Download our app to find out the hub nearest to you.</p>
                      <a href="{% url 'stations' %}" class="filled-button">Rent</a>

                </div>
            </div>
          </div>
          <!-- // Item -->
        </div>
    </div>
    <!-- Banner Ends Here -->
<div class="testimonials">
{% if request.user.is_authenticated %}
  <div class="container" >
    <div class="section-heading text-center">
    {% if rentals %}
      <center>
                <h2>Currently <em>Rented Bikes</em></h2>
{#              <h1>Currently rented bikes:</h1>#}
              <p class="lead">Remember to return them!</p>
      </center>
        <br>
        <br>
        <br>
        <table class="table table-hover table-dark table-responsive-lg" style="">
        <thead>
            <tr>
              <th scope="col">Bike number</th>
              <th scope="col">Start station</th>
              <th scope="col">Rental start</th>
              <th scope="col">Return</th>
            </tr>
        </thead>
        <tbody>
            {% for rental in rentals %}
              <tr>
                <td scope="row">{% for bike in rental.bike.values %}[{{ bike.id }}]{% endfor %}</td>
                <td>{{ rental.start_station.address }}</td>
                <td>{{ rental.start_date }}</td>
                <td class="col-xs-1">
                  <form action="{% url 'stations' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name='rental_id' value="{{ rental.id }}">
                    <button class="btn btn-primary" type="submit" name="return_bike">Return bike</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
      {% else %}
        <center>
                <h2>Currently No<em>Rented Bikes</em></h2>
{#              <h1>Currently rented bikes:</h1>#}
                <p class="lead">Rent It Now!</p>
        </center>
     {% endif %}
</div>
</div>

{% else %}
<div class="row" >
<div class="col-lg-12 text-center">
  <h1>Bike On Rent</h1>
  <p class="lead"> User not logged in. </p>
</div>
</div>
{% endif %}
</div>

<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Our <em>Offers</em></h2>
          <span>Rent Bike Now</span>
        </div>
      </div>
        <div id="pricing">
            <div class="price_card alpha">
                <div class="header">
                    <span class="price">&#x20b9 10</span>
                    <span class="name">Hourly Alpha Pack</span>
                </div>
                <ul class="features">
                    <li>Rent Bike On Hourly Basis</li>
                </ul>

                <span class="tip">* Great for beginners!</span>
            </div>
            <div class="price_card bravo">
                <div class="header">
                    <span class="price">&#x20b9 50</span>
                    <span class="name">Daily Bravo Pack</span>
                </div>
                <ul class="features">
                    <li>Rent Bike On Daily Basis</li>
                </ul>
                <span class="tip">* Most popular!</span>
            </div>
            <div class="price_card charlie">
                <div class="header">
                    <span class="price">&#x20b9 150</span>
                    <span class="name">Weekly Charlie Pack</span>
                </div>
                <ul class="features">
                    <li>Rent Bike On Weekly Basis</li>
                </ul>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Family Rentals<em>Enjoy Ride With Family</em></h2>
          <span>Our Family Rentals Service</span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="owl-testimonials owl-carousel">

          <div class="testimonial-item">
            <div class="inner-content">
              <h4>Family Rentals</h4>
              <span>Rent Bikes More Than 3</span>
              <p>Rent Bikes More Than 3 and Get 30 % Discount on Total Amount!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
