{% extends 'bikes/base.html' %}
{% load static %}
{% block content %}
 <div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Recharge</h1>
        <span>Recharge Your Account</span>
      </div>
    </div>
  </div>
</div>
<div class="testimonials">
<div class="container">
<form action="{% url 'recharge' %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="number" name='amount' class="form-control" id="login" placeholder="">
  </div>
  <button type="submit" name="login_request" class="btn btn-primary">Recharge</button>
</form>
</div>
</div>
{% endblock %}
