{% extends "bikes/base.html" %}

{% block content %}
<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Your Rentals</h1>
      </div>
    </div>
  </div>
</div>
<div class="testimonials">
<div class="container">

  {% if rentals %}
   <table class="table table-hover table-dark table-responsive-lg" style="">
    {% for rental in rentals %}
    {% if rental.cost %}
    <tr>
    {% else %}
    <tr class="success">
    {% endif %}
      <td>{{ rental.bike.id }}</td>
      <td>{{ rental.start_date }}</td>
      <td>{{ rental.end_date }}</td>
      <td>{{ rental.start_station.address }}</td>

      {% if rental.cost %}
      <td>{{ rental.cost }}</td>
      {% else %}
      <td></td>
      {% endif %}
      <td>
        <form action="{% url 'rental_detail' rental.id %}" method="post">
          {% csrf_token %}
          <input type="hidden" name='rental_id' value="{{ rental.id }}"></input>
          <button class="btn btn-primary" type="submit" name="bike_return">Show details</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% if show_all_rentals in request.POST %}
  {% else %}
  <form method='post'>
    <div class="form-group">
      {% csrf_token %}
      <button type="submit" name="show_all_rentals" class="btn btn-primary">Show all</button>
    </div>
  {% endif %}
  </form>
  {% else %}
  <br>
  <p class="lead text-center">No past rentals.</p>
  {% endif %}
</div>

</div>
{% endblock %}