{% extends "bikes/base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% load account %}
{% block content %}
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Log In</h1>
            <span>Start Journey By Login</span>
          </div>
        </div>
      </div>
    </div>
    <div class="testimonials">
    <div class="container" id="login">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Login Now
                </legend>
                 <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                  </div>
            </fieldset>

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
                <small class="text-muted ml-2" >
                    <a href="{% url 'password_reset' %}">Forgot Password</a>
                </small>
            </div>

            <br>
        </form>
        <center> Or</center>
            <div >
               <center> <legend>Login With</legend>
                <a href="{% provider_login_url "google" %}" type="button" class="col-3 btn btn-danger "><p class="fa fa-google"> | </p>Google</a>
                <a href="{% provider_login_url "facebook" %}" type="button" class="col-3 btn btn-info "><p class="fa fa-facebook"> | </p> Facebook</a>
               </center>
            </div>

        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account?
                <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
            </small>
        </div>
    </div>
   </div>
</div>
{% endblock content %}
