{% extends "bikes/base.html" %}

{% block content %}
        <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Your Password has been set.</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="testimonials">
    <div class="container">
    <div class="alert alert-info">
       Your Password has been set.
    </div>
    </div>
    <a href="{% url 'login' %}">Sign In Here</a>
    </div>
{% endblock content %}
